.App,
body,
html,
#root {
    padding: 0;
    margin: 0;
    height: 100%;
}

/* Electron window dragging support */
.electron-drag {
    -webkit-app-region: drag;
}

.electron-no-drag {
    -webkit-app-region: no-drag;
}
